body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* QR Scanner styling */
#qr-reader {
  border: none !important;
}

#qr-reader__dashboard_section {
  display: none !important;
}

#qr-reader__header_message {
  display: none !important;
}